.App {}

.body {
  text-align: left;
  display: grid;
  grid-template-columns: 75% 25%;
}

.btn {
  width: 100%;
  padding: 8px 5px;
  background-color: blueviolet;
  color: white;
}

@media screen and (max-width: 768px) {
  .body {
    display: flex;
    flex-direction: column;
    width: 95vw;
    margin: auto;
  }
}