.cards {
    display: grid;
    background-color: white;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

@media screen and (max-width: 768px) {
    .cards {
        display: flex;
        flex-direction: column;
        width: 95vw;
        margin: auto;
    }
}